server/src/xsd/pain.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CstmrDrctDbtInitn">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MsgId" type="xs:string" />
                    <xs:element name="CreDtTm" type="xs:dateTime" />
                    <xs:element name="NbOfTxs" type="xs:positiveInteger" />
                    <xs:element name="CtrlSum" type="xs:decimal" />
                    <xs:element name="InitgPty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PmtInf" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PmtInfId" type="xs:string" />
                    <xs:element name="PmtMtd" type="xs:string" />
                    <xs:element name="BtchBookg" type="xs:boolean" />
                    <xs:element name="NbOfTxs" type="xs:positiveInteger" />
                    <xs:element name="CtrlSum" type="xs:decimal" />
                    <xs:element name="PmtTpInf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SvcLvl">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LclInstrm">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Cd" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SeqTp">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="FRST" />
                                <xs:enumeration value="RCUR" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ReqdColltnDt" type="xs:date" />
                    <xs:element name="Cdtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="IBAN" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtrAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BIC" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ChrgBr" type="xs:string" />
                    <xs:element name="CdtrSchmeId">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PrvtId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Othr">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Id" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DrctDbtTxInf" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PmtId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InstrId" type="xs:string" />
                                <xs:element name="EndToEndId" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="InstdAmt">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="Ccy" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DrctDbtTx">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MndtRltdInf">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MndtId" type="xs:string" />
                                      <xs:element name="DtOfSgntr" type="xs:date" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DbtrAgt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FinInstnId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BIC" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Dbtr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Nm" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DbtrAcct">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="IBAN" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RmtInf">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Ustrd" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
