server/src/xsd/pesv2-titre-executoire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TitreExecutoireComplement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Entete">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Collectivite" type="xs:string" />
              <xs:element name="Ordonnateur" type="xs:string" />
              <xs:element name="NumeroFlux" type="xs:string" />
              <xs:element name="HorodatageTransmission" type="xs:dateTime" />
              <xs:element name="MentionSignature" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Titre">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NumeroTitre" type="xs:string" />
              <xs:element name="NumeroDeclaration" type="xs:string" />
              <xs:element name="AnneeExercice" type="xs:integer" />
              <xs:element name="DateEmission" type="xs:date" />
              <xs:element name="DateEcheance" type="xs:date" />
              <xs:element name="Montant" type="xs:decimal" />
              <xs:element name="MontantPaye" type="xs:decimal" />
              <xs:element name="MontantRestant" type="xs:decimal" />
              <xs:element name="StatutSource" type="xs:string" />
              <xs:element name="Assujetti">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IdentifiantTLPE" type="xs:string" />
                    <xs:element name="RaisonSociale" type="xs:string" />
                    <xs:element name="Siret" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
